In [10]:
import pymysql
import pandas as pd

# 1.練習從SQL 抓取資料

In [11]:
#練線SQL資料庫
Connet_SQL = pymysql.connect(host='放自己的資料',
                            port=3306,
                            user='root',
                            passwd='用自己的SQL密碼',
                            charset='utf8',
                            db='1-housepredictdata')

In [17]:
#讀取SQL資料
#指定 table train
sql_train = 'select * from train'
data_train = pd.read_sql(sql_train, Connet_SQL)

C:\Users\baoqi\AppData\Local\Temp\ipykernel_19064\1561222561.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_train = pd.read_sql(sql_train, Connet_SQL)

In [18]:
data_train

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65,8450,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,2,2008,WD,Normal,208500
1,2,20,RL,80,9600,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,5,2007,WD,Normal,181500
2,3,60,RL,68,11250,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,9,2008,WD,Normal,223500
3,4,70,RL,60,9550,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84,14260,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1116,1456,60,RL,62,7917,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,8,2007,WD,Normal,175000
1117,1457,20,RL,85,13175,Pave,NA,Reg,Lvl,AllPub,...,0,NA,MnPrv,NA,0,2,2010,WD,Normal,210000
1118,1458,70,RL,66,9042,Pave,NA,Reg,Lvl,AllPub,...,0,NA,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1119,1459,20,RL,68,9717,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,4,2010,WD,Normal,142125
1120,1460,20,RL,75,9937,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,6,2008,WD,Normal,147500

In [19]:
sql_test = 'select * from test'
data_test = pd.read_sql(sql_test, Connet_SQL)
data_test

C:\Users\baoqi\AppData\Local\Temp\ipykernel_19064\3180223050.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_test = pd.read_sql(sql_test, Connet_SQL)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1461,20,RH,80,11622,Pave,NA,Reg,Lvl,AllPub,...,0,NA,MnPrv,NA,0,6,2010,WD,Normal,169277
1,1462,20,RL,81,14267,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,Gar2,12500,6,2010,WD,Normal,187758
2,1463,60,RL,74,13830,Pave,NA,IR1,Lvl,AllPub,...,0,NA,MnPrv,NA,0,3,2010,WD,Normal,183584
3,1464,60,RL,78,9978,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,6,2010,WD,Normal,179317
4,1465,120,RL,43,5005,Pave,NA,IR1,HLS,AllPub,...,0,NA,NA,NA,0,1,2010,WD,Normal,150730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141,2912,20,RL,80,13384,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,5,2006,WD,Normal,188506
1142,2913,160,RM,21,1533,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,12,2006,WD,Abnorml,172917
1143,2916,160,RM,21,1894,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,4,2006,WD,Abnorml,164789
1144,2917,20,RL,160,20000,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,9,2006,WD,Abnorml,219222
1145,2919,60,RL,74,9627,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,11,2006,WD,Normal,187742

In [20]:
#關閉sql連線
Connet_SQL.close()